.turing-machine-tape {
    background-color: #1e1e2f;
    width: 100%;
    height: 181px;
    position: absolute;
    bottom: 0px;
    left: 161px;
    z-index: 35;
}

.turing-machine-tape--header {
    height: 40px;
    width: 100%;
}

.turing-machine-tape--tape{
    width: 100vw;
    background: #272839;
    height: 107px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s ease-in-out;
}

.turing-machine-tape--tape-item {
    height: 105px;
    width: 105px;
    background: #272839;
}

.turing-machine-tape--tape-item-content {
    height: 72px;
    font-size: 44px;
    padding: 17px;
    border: none;
    border-left: solid 1px #41425d;
    width: 48px;
    background: transparent;
    color: white;
    padding-left: 41px;
}

.turing-machine-tape--button-left{
    background: #141423;
    width: 60px;
    height: 50px;
    position: absolute;
    top: -23px;
    border-radius: 12px;
    left: calc(100vw - 337px);
}

.turing-machine-tape--button-right{
    background: #141423;
    width: 60px;
    height: 50px;
    position: absolute;
    top: -23px;
    border-radius: 12px;
    left: calc(100vw - 257px);
}

.turing-machine-tape--display {
    background: #141423;
    width: 60px;
    height: 50px;
    position: absolute;
    top: -23px;
    border-radius: 12px;
    left: calc(100vw - 417px);
}

.turing-machine-tape--display-2 {
    background: #141423;
    width: 60px;
    height: 50px;
    position: absolute;
    top: -23px;
    border-radius: 12px;
    left: calc(100vw - 497px);
}

.turing-machine-tape--display:hover{
    background: #282841;
    cursor: pointer;
}

.turing-machine-tape--display-2:hover{
    background: #282841;
    cursor: pointer;
}

.turing-machine-tape--button-left:hover{
    background: #282841;
    cursor: pointer;
}

.turing-machine-tape--button-right:hover{
    background: #282841;
    cursor: pointer;
}

.turing-machine-tape--index {
    position: relative;
    left: 37px;
    margin-bottom: -17px;
    color: #ffffff17;
    font-size: 13px;
}

/* Utilizado para parte de brilho do item atual da tape */
.turing-machine-tape--actual-step {
    background-color: #eb515145;
    border-left: rgb(255 49 63) solid 1px;
    border-right: rgb(255 49 63) solid 1px;
    box-shadow: 0 0 20px rgb(255 49 63 / 22%), 0 0 30px rgb(219 11 92 / 59%);
    z-index: 10;
}

.turing-machine-tape--tape-status {
    background: #141423;
    width: auto;
    height: 40px;
    position: absolute;
    top: -23px;
    border-radius: 12px;
    left: 32px;
    padding-top: 9px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 24px;
    font-family: monospace;
}

.turing-machine-tape--tape-status-rejeitado {
    background: #4b1818;
}

.turing-machine-tape--tape-status-aceito {
    background: #184b33;
}


