@import url('https://fonts.cdnfonts.com/css/digital-numbers');

.digital-numbers {
    position: absolute;
    font-family: 'Digital Numbers', sans-serif;
    font-size: 169px;
    background: #000000e3;
    height: 253px;
    width: 334px;
    padding-bottom: 17px;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    border-radius: 63px;
    margin-top: 7px;
}

.draggable-modal-header--title {
    display: flex
}

.draggable-modal-header--tooltip-icon {
    font-size: 26px;
    width: 39px;
    background: #0000005e;
    border-radius: 36px;
    height: 39px;
    margin-top: 18px;
    margin-left: 7px;
    cursor: pointer;
}